body {
    background-color:#1e1e1e;
     
    
}

.box {
    width: 30px;
    height: 30px;
    background-color: aqua;
   
}

.container {
    width:30px;
    height:30px;
    background-color: red;
}